.question-container {
  display: flex;
  width: 80%;
  min-height: 280px;
  height: 300px;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.question-text {
  color: white;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .question-container {
    width: 95vw;
    margin-top: 10px;
  }
  .question-text {
    color: white;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
}