.question-container {
  display: flex;
  width: 80%;
  min-height: 280px;
  height: 300px;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
}

.question-text {
  color: white;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
