.button {
  display: flex;
  background-color: white;
  width: 80%;
  height: 50px;
  border-radius: 25px;
  opacity: 0.5;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}
.button:hover {
    background-color: bisque;
    cursor: pointer;
}
.button-text {
  font-size: 18px;
  color: blue;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .button {
    width: 95%;
  }
}